extends ../../../views/layout

block content 
  div(id="home").container
    div.row
      div.col-md-12.col-md-offset-.5
        //div(id="homeavisos").well
          each aviso in avisos
            p= aviso.aviso
        h1.text-center= title
        div(id="homeuser").col-xs-6
          h1 Datos del usuario
          
          label Email
          p= result.email
          label Matricula
          p= result.matricula
          label Materia
          p= result.materia
          label Equipo 
          p= result.equipo

        div(id="homeact").col-xs-6
          h1 Actividades
