extends ../../../views/layout

block content 
  div(id="home").container
    div.row
      div.col-md-6.col-md-offset-3
        div(id="homeavisos")
          each aviso in avisos
            div!= aviso.aviso
      div.col-md-12.col-md-offset-.5
        br
        h1= name
        div(id="homeuser").col-xs-6
          h2 Datos del usuario
          br
          label Email
          p= result.email
          label Matricula
          p= result.matricula
          label Materia
          p= result.materia
          label Equipo 
          p= result.equipo

        div(id="homeact").col-xs-6
          h2 Actividades
          each activity in activities
            a(href="/activity/" + activity._id)= activity.name 
