extends ../../../views/layout

block content
  header
    br 
    div.col-md-8.col-md-offset-2
      a(href="/homepage/" + result._id).btn.btn-success.pull-left Regresar 
        sapn.glyphicon.glyphicon-arrow-left
  br
  div(id="perfil").container 
    div.row
      div.col-md-6.col-md-offset-3
        h1.text-center= title 
        h2.text-center= result.fullName
        div(id="datos")
          label Email
          p= result.email
          label Matricula
          p= result.matricula
          label Materia
          p= result.materia
          label Equipo 
          p= result.equipo
          if (isAdmin)
            div(id="botones")
              a(href='/editUserAdmin/'+ result._id).btn.btn-primary Editar 
                span.glyphicon.glyphicon-edit
              a(data-toggle="modal" data-target="#myModal1").btn.btn-danger.pull-right Eliminar 
                sapn.glyphicon.glyphicon-remove
              form(method="post", action="/deleteUser/" + result._id)
                div(class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
                  div(class="modal-dialog")
                    div(class="modal-content")
                      div(class="modal-header")
                        button(class="close" data-dismiss="modal")
                          span(aria-hidden="true") &times;
                            span(class="sr-only") Close
                        h4(class="modal-title" id="myModalLabel") Desea eliminar el usuario?
                      div(class="modal-body")
                        p Esta seguro que desea eliminar al Usuario?
                        p= result.fullName
                      div(class="modal-footer")
                        button(data-dismiss="modal").btn.btn-default Cancelar
                          button(type="submit").btn.btn-danger Eliminar
          else if (isLogged)
            div(id="boton")
              a(href='/editUser/'+ result._id).btn.btn-primary.btn-lg.btn-block Editar   
                span.glyphicon.glyphicon-edit