extends ../../../views/layout

block content
  div(id="users").container 
    div.row
      div.col-md-12
        h1.text-center= title
        div.form-group
          - if (messages.error)
            div.alert.alert-danger.alert-dismissable
              button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
              span= messages.error 
          div(id="tablematerias").col-xs-4.col-md-10
            table.table.table-striped
              h3.text-center Filtrar por materia
              br
              tr
                td Materia 
                td Accion
              each course in courses
                form(method="get" action="/users/"+course.name)
                  tr
                    td=course.name
                    td
                      button(type="submit").btn.btn-success.btn-xs Buscar 
                        span.glyphicon.glyphicon-search
          div(id="tableusuarios").col-md-12.col-md-offset-.5
            div.table
              table.table.table-striped 
                h3.text-center Alumnos
                br
                tr 
                  td Nombre 
                  td Email
                  td Matricula
                  td Materia
                  td Equipo
                  td Acciones
                each result in results
                  if (result.isUser == true)
                    tr 
                      td= result.fullName 
                      td= result.email
                      td= result.matricula
                      td= result.materia 
                      td= result.equipo
                      td 
                        a(href="/editUserAdmin/" + result._id).btn.btn-primary.pull-rigth Editar 
                          span.glyphicon.glyphicon-edit
                        br
                        br
                        a(data-toggle="modal" data-target="#myModal"+ result._id).btn.btn-danger.pull-left Eliminar 
                          span.glyphicon.glyphicon-remove
                        form(method="post", action="/deleteUser/" + result._id)
                          div(class="modal fade" id="myModal"+result._id tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
                            div(class="modal-dialog")
                              div(class="modal-content")
                                div(class="modal-header")
                                  button(class="close" data-dismiss="modal")
                                    span(aria-hidden="true") &times;
                                      span(class="sr-only") Close
                                  h4(class="modal-title" id="myModalLabel") Desea eliminar usuario?
                                div(class="modal-body")
                                  p Esta seguro que desea eliminar al usuario:
                                  p= result.fullName
                                div(class="modal-footer")
                                  button(data-dismiss="modal").btn.btn-default Cancelar
                                    button(type="submit").btn.btn-danger Eliminar