extends ../../../views/layout

block content
  div.container 
    div.row
      div.col-md-12
        h1.text-center Usuarios
        div.form-group
          - if (messages.error)
            div.alert.alert-danger.alert-dismissable
              button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
              span= messages.error 
          div.table-responsive
            table.table.table-striped
              tr 
                td Id
                td Nombre 
                td Email
                td Matricula
                td Materia
                td Acciones
              each result in results
                tr 
                  td= result._id
                  td= result.fullName 
                  td= result.email
                  td= result.matricula
                  td= result.materia 
                  td 
                    form(method="post", action="/aceptUser/" + result._id)
                      button(type="submit").btn.btn-primary Agregar
                    br
                    form(method="post", action="/deletepreUser/" + result._id)
                      button(type="submit" class="btn btn-danger") Eliminar